*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:blueviolet;
    
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    
    margin-top: 20px;
}
h1{
    margin-bottom: 10px; 
    font-weight: bold; 
    color:white;
    text-shadow: 2px 2px 5px#000;
    
}

input{
    width: 500px;
    height: 30px;
    padding: 5px;
    box-shadow: 2px 2px 5px#000;
    border: none;
   
}
button{
    background-color: green;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 5px#000;

    
}
li{
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
   
}
#btn{
    background-color: red;
    
}
.class-com-risco{
    text-decoration: line-through;
}





